.table-custom {
  .ant-table {
    @apply bg-transparent #{!important};
  }
  .ant-table-container {
    border-start-start-radius: 0px !important;
    border-start-end-radius: 0px !important;
    .ant-table-thead {
      .ant-table-cell {
        border-start-start-radius: 0px !important;
        border-start-end-radius: 0px !important;
        margin-bottom: -10px;
        @apply rounded-none border-b-0 bg-neutral-90 py-[10px] text-sm text-neutral-50;
        &::before {
          display: none;
        }
      }
    }
    .ant-table-tbody {
      width: 100%;
      .ant-table-row {
        position: relative;
        width: 100%;
        &:not(:last-child) {
          .ant-table-cell {
            &::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              display: block;
              width: 100%;
              height: 8px;
              // background-color:;
              border-radius: 0px;
            }
          }
        }
        .ant-table-cell {
          border-right: 1px solid rgba(156, 159, 161, 0.1);
          @apply border-b-0 border-alpha-neutral bg-alpha-neutral  py-[10px];
          &:first-child {
            border-radius: 4px 0px 0px 4px;
          }
          &:last-child {
            border-right: none !important;
          }
        }
      }
    }
  }
}
